.award-radio {
    .panel-heading {
        background-color: #af9751;
        color: black;
        .panel-title {
            text-shadow: 2px 1px 2px lightgrey;
            font-size: 20px;
        }
        .award-points {
            font-size: 130%;
            font-weight: normal;
            .label {
                background-color: black;
            }
        }
    }
    .nominees {
        li {
            &:focus {
                outline: none;
            }
        }
    }
}

.award-list {
    li {
        a {
            &:hover {
                background-color: darken($nav-link-hover-bg, 10%)
            }
        }
    }
}
