.award-radio {
    .award-points {
        font-size: 130%;
    }
    .nominees {
        li {
            &:focus {
                outline: none;
            }
        }
    }
}

.award-list {
    li {
        a {
            &:hover {
                background-color: darken($nav-link-hover-bg, 10%)
            }
        }
    }
}
