.welcome-header {
    .welcome-text {
        font-size: 70px;
        font-family: 'Dancing Script', cursive;
        color: #af9751 !important;
    }
    .welcome-title {
        font-size: 50px;
    }
}

.login-btn {
    margin-bottom: 5px;
    .btn {
        text-align: left;
        span {
            &:first-child {
                padding-right: 5px;
                border-right: 1px solid;
            }
            &:last-child {
                padding-left: 5px;
            }
        }
    }
}
