<div class="container">
    <div class="jumbotron">
        <div class="page-header">
            <h1 class="text-center">Welcome to the Jenkins Family Oscar Competition!</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-lg btn-primary btn-block" ng-click="login.login('facebook')">
                    Login with Facebook
                </button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-lg btn-danger btn-block" ng-click="login.login('google')">
                    Login with Google
                </button>
            </div>
        </div>
    </div>
</div>
