<div class="container">
    <div class="text-center">
        <h1>Oscar Winner Competition</h1>
        <h5 ng-hide="vm.isAfterOscarStart()">
            <i class="fa fa-clock-o"></i> Starts in <timer end-time="vm.oscarStart"><span ng-show="days > 0">{{days}} day<span ng-hide="days===1">s</span><span ng-show="hours > 0 || minutes > 0 || seconds > 0">,</span></span><span ng-show="hours > 0"> {{hours}} hour<span ng-hide="hours===1">s</span><span ng-show="minutes > 0 || seconds > 0">,</span></span><span ng-show="minutes > 0"> {{minutes}} minute<span ng-hide="minutes===1">s</span><span ng-show="seconds >0">,</span></span><span ng-show="seconds > 0"> {{seconds}} second<span ng-hide="seconds===1">s</span></span>.</timer>
        </h5>
    </div>
    <div class="row" style="margin-bottom: 50px; margin-top: 50px;">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{vm.picksSize}}" aria-valuemin="0" aria-valuemax="23" ng-style="{'width': vm.getProgressWidth()}" ng-class="vm.getProgressBarColor()">
                    <span class="sr-only">{{vm.getProgressWidth()}}% Complete</span>
                </div>
            </div>
            <p class="lead" ng-hide="vm.picksSize === 23">{{vm.picksSize}} / 23 awards complete</p>
            <div ng-show="vm.picksSize === 23">
                <p class="lead">Your picks are complete!</p>
                <p class="lead">Check back in when the ceremony starts or second guess yourself below:</p>
            </div>
            <a ui-sref="picks" class="btn btn-primary btn-lg">Make Picks</a>
        </div>
    </div>
    <div class="row" ng-hide="vm.pool">
        <div class="col-md-6 col-md-offset-3 text-center">
            <p class="lead">Looks like you're not part of a pool yet.</p>
            <p class="lead">Join a pool by clicking a link sent to you by a friend, or create a new one by clicking below</p>
            <div class="text-center">
                <button class="btn btn-success btn-lg" ng-click="vm.createNewPool()">Create a Pool</button>
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.pool">
        <div class="col-md-6 col-md-offset-3">
            <div class="jumbotron">
                <h3>Your Pool</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{vm.pool.name}}</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="user in vm.users">
                            <div class="pull-left"><img ng-src="{{user.picture}}" style="height: 40px; margin-right: 10px;" alt="">{{user.fullName}}</div>
                            <div class="pull-right"><i class="fa fa-close fa-2x" ng-click="vm.removeUser(user)" ng-show="vm.showRemove(user.uid)" data-title="Remove from Pool" data-placement="auto right" data-container="body" bs-tooltip style="color: #d9534f; cursor: pointer;"></i></div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
