<div class="container">
    <div class="text-center">
        <h1 style="font-size: 50px;">Oscar Showdown</h1>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
            <oscar-countdown></oscar-countdown>
        </div>
    </div>
    <div class="row" ng-show="vm.noPool" style="margin-top: 50px;">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="lead">Looks like you're not part of a pool yet!</p>
                    <p class="lead">Join a pool by clicking a link sent to you by a friend, or create a new one by clicking below</p>
                    <div class="text-center">
                        <button class="btn btn-success btn-lg" ng-click="vm.createNewPool()">Create a Pool</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 50px; margin-top: 50px;">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="margin-top: 10px;">Progress</h3>
                </div>
                <div class="panel-body text-center">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{vm.picksSize}}" aria-valuemin="0" aria-valuemax="23" ng-style="{'width': vm.getProgressWidth(vm.picksSize)}" ng-class="vm.getProgressBarColor(vm.picksSize)">
                            <span class="sr-only">{{vm.getProgressWidth(vm.picksSize)}}% Complete</span>
                        </div>
                    </div>
                    <p class="lead text-warning" ng-hide="vm.picksSize === 23">{{vm.picksSize}} / 23 nominees picked</p>
                    <div ng-show="vm.picksSize === 23">
                        <p class="lead text-success">Your picks are complete!</p>
                        <p class="lead">Check back in when the ceremony starts or second guess yourself below:</p>
                    </div>
                    <a ui-sref="picks" class="btn btn-primary btn-lg raised">Make Picks</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" ng-repeat="pool in vm.pools">
            <oscar-pool pool="pool"></oscar-pool>
        </div>
    </div>
</div>
