/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$nav-pills-active-link-hover-bg: #af9751;
$link-color: black;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700);
$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.jumbotron {
    background-color: darken($jumbotron-bg, 5%)
}


/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */

[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}

.btn-primary.raised:active,
.btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.btn-default.raised {
    box-shadow: 0 3px 0 0 lightgrey;
}

.btn-default.raised:active,
.btn-default.raised.active {
    background: lightgrey;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.btn-success.raised {
    box-shadow: 0 3px 0 0 darkgreen;
}

.btn-success.raised:active,
.btn-success.raised.active {
    background: darkgreen;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.nominees,
h1,
h2,
h3,
// .btn,
.navbar,
.award-list {
    font-family: 'Oswald', sans-serif;
}

.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
    &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
            opacity: .5;
        }
    }
    &.ng-leave {
        opacity: .5;
        &.ng-leave-active {
            opacity: 0;
        }
    }
}

// .navbar-brand {
//     font-size: 29px;
//     i {
//         color: #af9751;
//         padding-left: 10px;
//         padding-right: 10px;
//     }
// }
.header {
    border-bottom: 1px solid #e5e5e5;
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.radio {
    &:focus {
        outline: none;
    }
}

.correct {
    background-color: rgba(lightgreen, 0.4);
}

.incorrect {
    background-color: rgba(rgb(255, 192, 203), 0.4);
}

.eliminated {
    background-color: lightgray;
}

.title {
    text-align: center;
    .fa-star {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.superlatives {
    width: 100%;
    .first {
        td {
            padding-top: 20px;
            vertical-align: middle;
            border-top: 2px solid lightgrey;
        }
    }
    .second {
        td {
            padding-bottom: 20px;
            // vertical-align: bottom;
        }
    }
    .big {
        font-size: 150%;
        padding-left: 15px;
    }
}

.footer,
.header {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
