<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog text-left">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Invite others to join this Pool!</h4>
            </div>
            <div class="modal-body">
                <!-- Duplicate code in main.html -->
                <div class="form-group">
                    <label>Share this link:</label>
                    <input id="pool-url" type="text" select-me readonly ng-model="vm.poolUrl" class="form-control">
                </div>
                <!--  -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>
