<div class="panel panel-default pool-points">
    <div class="panel-heading">
        <h3 style="margin-top: 10px;" ng-click="getIt()">{{pool.name}}</h3>
    </div>
    <div class="panel-body text-center" ng-show="itsOver()">
        <h2><i class="fa fa-star"></i><span style="margin-left: 5px; margin-right: 5px;">Congratulations!</span><i class="fa fa-star"></i></h2>
        <h3 ng-repeat="winner in winners">{{winner.displayName}}</h3>
        <!-- <button class="btn btn-default btn-lg btn-block raised" ng-click="getSuperlatives()" ng-disabled="!superlativesClickable">
            <h4><i class="fa fa-trophy" style="margin-right: 5px;"></i>Click to See Superlatives</h4>
        </button> -->
    </div>
    <ul class="list-group users-points">
        <li ng-repeat="competitor in competitors | orderBy: '-score' | filter:f" class="list-group-item fx-fade-up fx-ease-sine" ng-class="{'correct': isWinner(competitor)}">
            <div class="photo-score">
                <img ng-src="{{competitor.photoURL}}" style="height: 40px;" alt="">
            </div>
            <div class="text-right score-bar">
                <span class="badge" ng-style="{'left': getBadgeLeft(competitor) + '%'}">{{getScore(competitor)}}</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="{{possiblePoints}}" ng-style="{'width': getProgressWidth(competitor) + '%'}" ng-class="getProgressBarColor(competitor)">
                        <!-- <span class="sr-only">{{getProgressWidth(competitor.score)}}% Complete</span> -->
                    </div>
                </div>
            </div>
            <div>
                <span data-title="Admin" bs-tooltip data-bs-enabled="competitor.uid === pool.creator" ng-class="{'admin':competitor.uid === pool.creator}">{{competitor.displayName}}</span>
            </div>
            <!-- <div class="clearfix"></div> -->
        </li>
    </ul>
</div>
