<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="pull-left" style="margin-top: 10px;">{{pool.name}}</h3>
        <i class="fa fa-close fa-2x pull-right text-danger" style="margin-top: 10px;" ng-click="leavePool(pool)" data-title="Leave Pool" bs-tooltip></i>
        <div class="clearfix"></div>
    </div>
    <div class="pool-competitors-wrapper">
        <table class="table pool-competitors">
            <tr pool-competitor ng-repeat="competitor in competitors | orderBy: '-$value'" competitor-id="competitor.$id" pool="pool"></tr>
        </table>
    </div>
    <div class="invite-others">
        <button class="btn btn-default btn-lg btn-block raised" ng-click="inviteOthers(pool)">
            <h4 style="margin:0"><i class="fa fa-share-alt" style="margin-right: 10px;"></i> Invite Others</h4>
        </button>
    </div>
</div>
